@font-face{
	font-family:'koodak';
	src:url('../fonts/BKoodakBold.eot');
	src:url('../fonts/BKoodakBold.eot#iefix') format('eot'),url('../fonts/BKoodakBold.woff') format('woff'),url('../fonts/BKoodakBold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'titr';
	src:url('../fonts/BTitrBd.eot');
	src:url('../fonts/BTitrBd.eot#iefix') format('eot'),url('../fonts/BTitrBd.woff') format('woff'),url('../fonts/BTitrBd.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
.titr{
	font-family:titr !important;
	}
body{
	font-family:'koodak';
	
	}
.right-side{
	background-image:url(../assets/img/home/01.jpg);
	background-size:cover;
	height:100%;
	}
a{
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
a:hover{
	text-decoration:none;
	}
@media (min-width: 992px) {
    .right-side{
		position:absolute;
		right:0;
	}
}
@media (max-width: 992px) {
    .right-side{
		position:static;
		min-height:400px;
	}
}
.right-side{
	overflow:auto;
	padding:0;
	}
.navbar-bottom{
	position:absolute;
	bottom:0;
	right:0;
	text-align:center;
	height:auto;
	width:100%;
	
	margin-bottom:0;
	}
.navbar-top{
	background: -webkit-linear-gradient(left,#1285b0,#14769b, #1285b0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,#1285b0,#14769b, #1285b0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,#1285b0,#14769b, #1285b0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left,#1285b0,#14769b, #1285b0); /* Standard syntax */
	}
.navbar-top a, .navbar-bottom a{
	color:#f6c284;
	}
.navbar-toggle{
	border:solid 1px #f6c284;
	}
.icon-bar{
	background-color:#f6c284;
	}
.nav > li > a:hover, .nav > li > a:focus{
	background-color:#f6c284;
	color:#24447b;
	}
.dropdown-menu{
	text-align:right;
	}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color:#24447b;
	color:#f6c284;
	}
.left-side{
	background-image:url(../images/brushed-alum-dark.png);
	overflow:auto;
	height:100%;
	position:absolute;
	left:0;
	direction:rtl;
	padding:10px 25px 10px 25px;
	text-align:justify;
	font-size:16px;
	}

.blue{
	color:#1285b0;
	font-family:titr !important;
	}
.radio-inline label, .radio label, .checkbox{
	padding-right: 20px;
	}
.radio-inline input[type=radio], .radio input[type=radio], input[type=checkbox]{
	margin-left:0;
	margin-right:-20px;
	}
	
.value{
	position:relative;
	padding:10px;
	min-height:130px;
	border:dashed 1px #999;
	}
.value-text{
	width:70%;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
	display:inline-block;
	padding-top:25px;
	}
.value-image{
	opacity:0;
	width:30%;
	position:absolute;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	}
.value:hover .value-image{
	opacity:1;
	}
.value:hover .value-text{
	margin-right:150px;
	}
	
.comment{
	padding-right:10px;
	border-right:solid 4px #ccc;
	}
.comment-text{
	padding-right:55px;
	}
.line-row{
    background: none repeat scroll 0 0 #d9d9d9;
    border-bottom: 1px solid white;
    height: 1px;
    width: 100%;
    display: block;

}

.left-side ul li{
	margin-bottom:15px;
	line-height:20px;
	}
.fa-arrow-circle-left{
	cursor:pointer;
	margin-right:5px;
	padding-left:10px;
	}
.fa-arrow-circle-left:hover{
	padding-left:5px;
	margin-right:10px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	color:#1285b0;
	}
.dropdown-menu{
	background-color:#1285b0;
	}
.dropdown-menu > li > a{
	color:#f6c284;
	}
.under-list li{
	margin-bottom:5px !important;
	}